

header{
    
    font-family: 'Roboto Mono', monospace;
    /* text-align: center; */
    font-size: 8px;
    /* padding-left:84px; */
    text-align: left;
    width:1100px;
    margin:auto;

}
body{
    background-image: url("images/bg.png");
    background-color: #C3D4FA;
    max-width: 1200px;
    height: 750px;
    margin: auto;
    /* max-width: 1200px;
    max-height: 750px; */
}
main{
    

}
article{
    padding: 30px;
    /* display:inline-block; */
    background-color: #F2D399;
    width: 200px;
    height: 290px;
}

a{
    display: block;
    transition: transform .3s; 
}

a:hover{
    background-color: #49F2C2;
}

h2{
    font-family: 'Roboto Mono', monospace;
    font-size: larger;
}
ul{
    list-style: none;
}
li{
    font-family: 'Roboto Mono', monospace;
    transition: transform .3s; 
    padding-top: 10px;
}

li:hover{
    /* background-color: #F2EC94; */
    transform: scale(1.25);
}
footer{
text-align: center;
}



/* classes & id */

#banner{
    display:block;
    text-align: center;
    font-size: large;
    margin: 0px auto;
    width: 1100px;
    height: 250px;
    background-image: url("images/bannerb.png");
    /* background-color: #9F8FBF; */

    /* justify-content: center;
    justify-content: space-around;
    text-align: center; */
    /* align-content: center; */
}
#heart{
    display: flex;
    width: 150px;
    padding-top: 50px;
    padding-left: 50px;
    justify-content:center;
}
#heart:hover {
    content: url("images/rHeart.png");
}
.parent{
width: 1200px;
display: flex;
/* padding-top: 30px;
padding-bottom: 10px; */
padding-top: 20px;
justify-content: center;
justify-content: space-around;

}
.first{
    justify-content:left;

}
.middle{
    justify-content: center;
}
.last{
    justify-content: right;
}