/* //form layout */
lable, input {
    display:block;
    font-size: 20px;
}
input{
    margin-bottom: 50px;
}
fieldset input, fieldset label{
    display: inline;
}
fieldset label{
    margin-bottom: 50px;
}



/* Page css */
header{
    display: block;
    background-color: aqua;
    width:1100px;
    margin-right: auto;
    
}

body{
    background-color: #F2F0F0;
}
h1{
    font-size: 80px;
    margin-right: auto;
}

p{
    font-family:'Fredoka One', cursive;
    /* font-family: 'Concert One', cursive; */
    font-size: 50px;
    padding-left: 100px;
}

div{
    /* display: block; */
    padding-top: 100px;
    padding-right: 200px;


}
h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.text{
    background-color: aqua;
}


#formBackground{
    display: block;
    padding: 50px;
    align-content: center;
    background-color: #F299B9;
    width: 500px;
    margin-left: auto;
    border-radius: 5%;
}
form{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    padding-left: 50px;
}
